.center {
    display: flex;
    text-align: center;
    &-card{
        flex-direction: column;
    }
}

.card {
    background-color: $white;
    border-radius: 1rem;
    border: 1px solid darken($lightGray, 5%);
    padding: $separation;
}

.btn {
    padding: 1.5rem $separation + 1;
    color: $white;
    background-color: $cyan;
    border-radius: 3rem; 
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: $darkCyan;
    }

    &:focus {
        outline: none;
    }
    &__disabled {
        background-color: $darkGray;
        color: $white;
        &:hover {
            background-color: $darkGray;
            cursor: auto;
        }
    }
}
