// Variables
$cyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$darkGray: hsl(0, 0%, 48%);
$lightGray: hsl(0, 0%, 94%);
$black: hsl(0, 0%, 0%);
$white: hsl(100, 100%, 100%);


// Fonts 
$primaryFont: 'Commissioner', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// Screen sizes
$sl: 375px;
$md: 768px;
$lg: 1200px;

// Separation
$separation: 5rem;
