.header {
    background-image: url(/src/images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    @include medium {
        background-image: url(/src/images/image-hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: $separation / 5;
    }
    &__mobile {
        background-image: url(/src/images/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: all .3s;

        &.open {
            background-image: url(/src/images/icon-close-menu.svg);
            background-repeat: no-repeat;
        }

        @include medium {
            display: none;
        }
    }
    &__menu {
        display: none;
        a {
            color: $black;
            &:hover {
                color: lighten($black, 10%);
            }
        }
        li {
            border-bottom: 1px solid $black;
            &:last-of-type {
                border: none;
            }
        }
        &.open {
            position: absolute;
            top: $separation * 1.5;
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: $separation / 4;
            padding: $separation / 2;
            text-align: center;
            background-color: $white;
            border-radius: 1rem;
        }
        @include medium {
            display: flex;
            gap: $separation / 5.5;
        }
    }

}